USE [master]
GO
/****** Object:  Database [crime_investigation_db]    Script Date: 5/27/2026 10:23:13 PM ******/
CREATE DATABASE [crime_investigation_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'crime_investigation_db', FILENAME = N'E:\DATABASE\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\crime_investigation_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'crime_investigation_db_log', FILENAME = N'E:\DATABASE\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\crime_investigation_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [crime_investigation_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [crime_investigation_db]
GO
/****** Object:  User [crimesystem]    Script Date: 5/27/2026 10:23:13 PM ******/
CREATE USER [crimesystem] FOR LOGIN [crimesystem] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [crimesystem]
GO
/****** Object:  Table [dbo].[activity_logs]    Script Date: 5/27/2026 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [varchar](255) NOT NULL,
	[details] [text] NULL,
	[ip_address] [varchar](45) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[applications]    Script Date: 5/27/2026 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[applications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[citizen_id] [int] NOT NULL,
	[title] [varchar](500) NOT NULL,
	[description] [text] NOT NULL,
	[incident_date] [date] NOT NULL,
	[incident_location] [varchar](500) NOT NULL,
	[status] [varchar](30) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[case_assignments]    Script Date: 5/27/2026 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[case_assignments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[officer_id] [int] NOT NULL,
	[assigned_by] [int] NOT NULL,
	[notes] [text] NULL,
	[assigned_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[citizens]    Script Date: 5/27/2026 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[citizens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [varchar](255) NOT NULL,
	[cnic] [varchar](15) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[address] [text] NOT NULL,
	[profile_pic] [varchar](500) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[evidence]    Script Date: 5/27/2026 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[evidence](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[uploaded_by] [int] NOT NULL,
	[file_path] [varchar](1000) NOT NULL,
	[file_type] [varchar](50) NOT NULL,
	[original_filename] [varchar](500) NOT NULL,
	[description] [text] NULL,
	[assigned_to_forensic] [int] NULL,
	[assigned_at] [datetime] NULL,
	[uploaded_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fir_reports]    Script Date: 5/27/2026 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fir_reports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[fir_number] [varchar](100) NOT NULL,
	[details] [text] NULL,
	[filed_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forensic_officers]    Script Date: 5/27/2026 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forensic_officers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [varchar](255) NOT NULL,
	[lab_id] [varchar](50) NOT NULL,
	[specialization] [varchar](255) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[forensic_reports]    Script Date: 5/27/2026 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[forensic_reports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[evidence_id] [int] NOT NULL,
	[forensic_officer_id] [int] NOT NULL,
	[findings] [text] NOT NULL,
	[conclusion] [text] NULL,
	[report_file_path] [varchar](1000) NULL,
	[status] [varchar](20) NOT NULL,
	[submitted_at] [datetime] NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lab_findings]    Script Date: 5/27/2026 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lab_findings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[forensic_report_id] [int] NOT NULL,
	[finding_type] [varchar](255) NOT NULL,
	[description] [text] NOT NULL,
	[conclusion] [varchar](500) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 5/27/2026 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[message] [text] NOT NULL,
	[type] [varchar](20) NOT NULL,
	[is_read] [bit] NOT NULL,
	[related_application_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[officers]    Script Date: 5/27/2026 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[officers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [varchar](255) NOT NULL,
	[badge_number] [varchar](50) NOT NULL,
	[rank] [varchar](100) NOT NULL,
	[department] [varchar](255) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 5/27/2026 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [varchar](255) NOT NULL,
	[expires_at] [datetime] NOT NULL,
	[used] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suspects]    Script Date: 5/27/2026 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suspects](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[added_by_officer] [int] NOT NULL,
	[full_name] [varchar](255) NOT NULL,
	[description] [text] NULL,
	[address] [text] NULL,
	[relationship_to_case] [varchar](255) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/27/2026 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
	[last_login] [datetime] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[witnesses]    Script Date: 5/27/2026 10:23:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[witnesses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[added_by_officer] [int] NOT NULL,
	[full_name] [varchar](255) NOT NULL,
	[contact] [varchar](100) NULL,
	[statement] [text] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[activity_logs] ON 

INSERT [dbo].[activity_logs] ([id], [user_id], [action], [details], [ip_address], [created_at]) VALUES (1, 14, N'Application Created', N'Application #5: theft ', N'::1', CAST(N'2026-05-27T15:48:25.563' AS DateTime))
INSERT [dbo].[activity_logs] ([id], [user_id], [action], [details], [ip_address], [created_at]) VALUES (2, 9, N'Case Assigned', N'Case #5 assigned to officer #4', N'::1', CAST(N'2026-05-27T15:50:34.650' AS DateTime))
SET IDENTITY_INSERT [dbo].[activity_logs] OFF
GO
SET IDENTITY_INSERT [dbo].[applications] ON 

INSERT [dbo].[applications] ([id], [citizen_id], [title], [description], [incident_date], [incident_location], [status], [created_at], [updated_at]) VALUES (5, 5, N'theft ', N'in house ', CAST(N'2026-05-20' AS Date), N'lahore ', N'investigating', CAST(N'2026-05-27T15:48:25.460' AS DateTime), CAST(N'2026-05-27T15:59:38.387' AS DateTime))
SET IDENTITY_INSERT [dbo].[applications] OFF
GO
SET IDENTITY_INSERT [dbo].[case_assignments] ON 

INSERT [dbo].[case_assignments] ([id], [application_id], [officer_id], [assigned_by], [notes], [assigned_at]) VALUES (3, 5, 4, 9, N'', CAST(N'2026-05-27T15:50:34.590' AS DateTime))
SET IDENTITY_INSERT [dbo].[case_assignments] OFF
GO
SET IDENTITY_INSERT [dbo].[citizens] ON 

INSERT [dbo].[citizens] ([id], [user_id], [full_name], [cnic], [phone], [address], [profile_pic], [created_at]) VALUES (5, 14, N'Ahmed Khan', N'42201-1234567-1', N'0321-1234567', N'House 12, Street 4, Lahore', NULL, CAST(N'2026-05-27T15:37:34.920' AS DateTime))
INSERT [dbo].[citizens] ([id], [user_id], [full_name], [cnic], [phone], [address], [profile_pic], [created_at]) VALUES (6, 15, N'Sara Malik', N'42201-7654321-2', N'0333-7654321', N'Flat 5, Block B, Karachi', NULL, CAST(N'2026-05-27T15:37:34.920' AS DateTime))
INSERT [dbo].[citizens] ([id], [user_id], [full_name], [cnic], [phone], [address], [profile_pic], [created_at]) VALUES (7, 16, N'Bilal Ahmad', N'42201-9999999-3', N'0300-9999999', N'Plot 33, G-10, Islamabad', NULL, CAST(N'2026-05-27T15:37:34.920' AS DateTime))
SET IDENTITY_INSERT [dbo].[citizens] OFF
GO
SET IDENTITY_INSERT [dbo].[evidence] ON 

INSERT [dbo].[evidence] ([id], [application_id], [uploaded_by], [file_path], [file_type], [original_filename], [description], [assigned_to_forensic], [assigned_at], [uploaded_at]) VALUES (1, 5, 10, N'test-evidence-1.jpg', N'image/jpeg', N'crime_scene_photo.jpg', N'Crime scene photograph', 4, CAST(N'2026-05-27T15:53:38.577' AS DateTime), CAST(N'2026-05-27T15:53:01.340' AS DateTime))
INSERT [dbo].[evidence] ([id], [application_id], [uploaded_by], [file_path], [file_type], [original_filename], [description], [assigned_to_forensic], [assigned_at], [uploaded_at]) VALUES (2, 5, 10, N'test-report.pdf', N'application/pdf', N'initial_report.pdf', N'Initial incident report', 4, CAST(N'2026-05-27T15:53:38.577' AS DateTime), CAST(N'2026-05-27T15:53:01.340' AS DateTime))
SET IDENTITY_INSERT [dbo].[evidence] OFF
GO
SET IDENTITY_INSERT [dbo].[forensic_officers] ON 

INSERT [dbo].[forensic_officers] ([id], [user_id], [full_name], [lab_id], [specialization], [created_at]) VALUES (4, 12, N'Dr. Sara Ahmed', N'LAB-001', N'Digital Forensics', CAST(N'2026-05-27T15:37:34.913' AS DateTime))
INSERT [dbo].[forensic_officers] ([id], [user_id], [full_name], [lab_id], [specialization], [created_at]) VALUES (5, 13, N'Dr. Bilal Malik', N'LAB-002', N'DNA Analysis', CAST(N'2026-05-27T15:37:34.913' AS DateTime))
SET IDENTITY_INSERT [dbo].[forensic_officers] OFF
GO
SET IDENTITY_INSERT [dbo].[forensic_reports] ON 

INSERT [dbo].[forensic_reports] ([id], [evidence_id], [forensic_officer_id], [findings], [conclusion], [report_file_path], [status], [submitted_at], [created_at]) VALUES (1, 1, 4, N'Pending analysis', NULL, NULL, N'in_analysis', NULL, CAST(N'2026-05-27T15:53:38.577' AS DateTime))
INSERT [dbo].[forensic_reports] ([id], [evidence_id], [forensic_officer_id], [findings], [conclusion], [report_file_path], [status], [submitted_at], [created_at]) VALUES (2, 2, 4, N'Pending analysis', NULL, NULL, N'pending', NULL, CAST(N'2026-05-27T15:53:38.577' AS DateTime))
SET IDENTITY_INSERT [dbo].[forensic_reports] OFF
GO
SET IDENTITY_INSERT [dbo].[lab_findings] ON 

INSERT [dbo].[lab_findings] ([id], [forensic_report_id], [finding_type], [description], [conclusion], [created_at]) VALUES (1, 1, N'knk', N'jck', N'isdji', CAST(N'2026-05-27T15:55:21.923' AS DateTime))
SET IDENTITY_INSERT [dbo].[lab_findings] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [user_id], [title], [message], [type], [is_read], [related_application_id], [created_at]) VALUES (6, 14, N'Application Submitted', N'Your application #5 has been submitted successfully.', N'success', 0, 5, CAST(N'2026-05-27T15:48:25.547' AS DateTime))
INSERT [dbo].[notifications] ([id], [user_id], [title], [message], [type], [is_read], [related_application_id], [created_at]) VALUES (7, 10, N'New Case Assigned', N'Case #5 has been assigned to you.', N'info', 0, 5, CAST(N'2026-05-27T15:50:34.647' AS DateTime))
INSERT [dbo].[notifications] ([id], [user_id], [title], [message], [type], [is_read], [related_application_id], [created_at]) VALUES (8, 14, N'Case Status Updated', N'Your case #5 status changed to: assigned', N'info', 0, 5, CAST(N'2026-05-27T15:59:32.113' AS DateTime))
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[officers] ON 

INSERT [dbo].[officers] ([id], [user_id], [full_name], [badge_number], [rank], [department], [created_at]) VALUES (4, 10, N'Ali Hassan', N'OFF-001', N'Inspector', N'Homicide Division', CAST(N'2026-05-27T15:37:34.853' AS DateTime))
INSERT [dbo].[officers] ([id], [user_id], [full_name], [badge_number], [rank], [department], [created_at]) VALUES (5, 11, N'Usman Khan', N'OFF-002', N'Sub-Inspector', N'Cybercrime Unit', CAST(N'2026-05-27T15:37:34.853' AS DateTime))
SET IDENTITY_INSERT [dbo].[officers] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [password_hash], [role], [is_active], [last_login], [created_at], [updated_at]) VALUES (9, N'admin@crimesystem.gov', N'$2b$12$0BiF2tC64SQMhzaQhqOkI.PQs9kuoCWJjxxstI7ZkkNPMgHESCvjm', N'admin', 1, CAST(N'2026-05-27T22:05:58.440' AS DateTime), CAST(N'2026-05-27T14:53:33.617' AS DateTime), CAST(N'2026-05-27T14:53:33.617' AS DateTime))
INSERT [dbo].[users] ([id], [email], [password_hash], [role], [is_active], [last_login], [created_at], [updated_at]) VALUES (10, N'officer1@crimesystem.gov', N'$2b$12$dZdilw1uF2proOZ4Kav4jOxr/mhXWMsa2qLqKjLWLJkzi3pRLIYd.', N'officer', 1, CAST(N'2026-05-27T16:27:32.600' AS DateTime), CAST(N'2026-05-27T14:53:33.617' AS DateTime), CAST(N'2026-05-27T14:53:33.617' AS DateTime))
INSERT [dbo].[users] ([id], [email], [password_hash], [role], [is_active], [last_login], [created_at], [updated_at]) VALUES (11, N'officer2@crimesystem.gov', N'$2b$12$dZdilw1uF2proOZ4Kav4jOxr/mhXWMsa2qLqKjLWLJkzi3pRLIYd.', N'officer', 1, NULL, CAST(N'2026-05-27T14:53:33.617' AS DateTime), CAST(N'2026-05-27T14:53:33.617' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__citizens__35BD76A43FBD11FF]    Script Date: 5/27/2026 10:23:14 PM ******/
ALTER TABLE [dbo].[citizens] ADD UNIQUE NONCLUSTERED 
(
	[cnic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__citizens__B9BE370E8DDE3979]    Script Date: 5/27/2026 10:23:14 PM ******/
ALTER TABLE [dbo].[citizens] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__fir_repo__1292281CF376CA81]    Script Date: 5/27/2026 10:23:14 PM ******/
ALTER TABLE [dbo].[fir_reports] ADD UNIQUE NONCLUSTERED 
(
	[fir_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__fir_repo__3BCBDCF3AEC13447]    Script Date: 5/27/2026 10:23:14 PM ******/
ALTER TABLE [dbo].[fir_reports] ADD UNIQUE NONCLUSTERED 
(
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__forensic__66DE64DA52A88F5B]    Script Date: 5/27/2026 10:23:14 PM ******/
ALTER TABLE [dbo].[forensic_officers] ADD UNIQUE NONCLUSTERED 
(
	[lab_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__forensic__B9BE370EE393A604]    Script Date: 5/27/2026 10:23:14 PM ******/
ALTER TABLE [dbo].[forensic_officers] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__officers__3E4D103E54D55BC8]    Script Date: 5/27/2026 10:23:14 PM ******/
ALTER TABLE [dbo].[officers] ADD UNIQUE NONCLUSTERED 
(
	[badge_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__officers__B9BE370ED7120871]    Script Date: 5/27/2026 10:23:14 PM ******/
ALTER TABLE [dbo].[officers] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__password__CA90DA7ACBBFE944]    Script Date: 5/27/2026 10:23:14 PM ******/
ALTER TABLE [dbo].[password_reset_tokens] ADD UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61645608F361]    Script Date: 5/27/2026 10:23:14 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activity_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[applications] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[applications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[applications] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[case_assignments] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[citizens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[evidence] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[fir_reports] ADD  DEFAULT (getdate()) FOR [filed_at]
GO
ALTER TABLE [dbo].[forensic_officers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[forensic_reports] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[forensic_reports] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[lab_findings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ('info') FOR [type]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[officers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[password_reset_tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[suspects] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[witnesses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[activity_logs]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[applications]  WITH CHECK ADD FOREIGN KEY([citizen_id])
REFERENCES [dbo].[citizens] ([id])
GO
ALTER TABLE [dbo].[case_assignments]  WITH CHECK ADD FOREIGN KEY([application_id])
REFERENCES [dbo].[applications] ([id])
GO
ALTER TABLE [dbo].[case_assignments]  WITH CHECK ADD FOREIGN KEY([assigned_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[case_assignments]  WITH CHECK ADD FOREIGN KEY([officer_id])
REFERENCES [dbo].[officers] ([id])
GO
ALTER TABLE [dbo].[citizens]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[evidence]  WITH CHECK ADD FOREIGN KEY([application_id])
REFERENCES [dbo].[applications] ([id])
GO
ALTER TABLE [dbo].[evidence]  WITH CHECK ADD FOREIGN KEY([assigned_to_forensic])
REFERENCES [dbo].[forensic_officers] ([id])
GO
ALTER TABLE [dbo].[evidence]  WITH CHECK ADD FOREIGN KEY([uploaded_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[fir_reports]  WITH CHECK ADD FOREIGN KEY([application_id])
REFERENCES [dbo].[applications] ([id])
GO
ALTER TABLE [dbo].[forensic_officers]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[forensic_reports]  WITH CHECK ADD FOREIGN KEY([evidence_id])
REFERENCES [dbo].[evidence] ([id])
GO
ALTER TABLE [dbo].[forensic_reports]  WITH CHECK ADD FOREIGN KEY([forensic_officer_id])
REFERENCES [dbo].[forensic_officers] ([id])
GO
ALTER TABLE [dbo].[lab_findings]  WITH CHECK ADD FOREIGN KEY([forensic_report_id])
REFERENCES [dbo].[forensic_reports] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([related_application_id])
REFERENCES [dbo].[applications] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[officers]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[password_reset_tokens]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[suspects]  WITH CHECK ADD FOREIGN KEY([added_by_officer])
REFERENCES [dbo].[officers] ([id])
GO
ALTER TABLE [dbo].[suspects]  WITH CHECK ADD FOREIGN KEY([application_id])
REFERENCES [dbo].[applications] ([id])
GO
ALTER TABLE [dbo].[witnesses]  WITH CHECK ADD FOREIGN KEY([added_by_officer])
REFERENCES [dbo].[officers] ([id])
GO
ALTER TABLE [dbo].[witnesses]  WITH CHECK ADD FOREIGN KEY([application_id])
REFERENCES [dbo].[applications] ([id])
GO
ALTER TABLE [dbo].[applications]  WITH CHECK ADD CHECK  (([status]='closed' OR [status]='pending_forensic' OR [status]='investigating' OR [status]='assigned' OR [status]='pending'))
GO
ALTER TABLE [dbo].[forensic_reports]  WITH CHECK ADD CHECK  (([status]='submitted' OR [status]='in_analysis' OR [status]='pending'))
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD CHECK  (([type]='danger' OR [type]='warning' OR [type]='success' OR [type]='info'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='admin' OR [role]='forensic' OR [role]='officer' OR [role]='citizen'))
GO
USE [master]
GO
